.container {
    font-family: 'Roboto', sans-serif;
    background: #333 url(images/restaurant.jpg) center no-repeat;
    display: flex;
    text-align: center;
    justify-content: center; 
    height: 130vh;
}

#calculator {
    background-color: #2b2b2b;
    color: whitesmoke;
    border: 1px solid black;
    height: 800px;
    width: 500px;
    margin-top: 2rem;
}

.form-item {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid whitesmoke;
} 

.form-input {
    text-align: center;
    margin-top: 1rem;
    padding: .3rem;
}

.float-container {
    padding: 30px;
}

.float-child {
    width: 50%;
    float: left;
}

#calculateBtn {
    margin-top: 1rem;
    font-size:1.3rem;
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    cursor: pointer;
} 

#calculateBtn:hover {
   color:#000000;
   background-color:#FFFFFF;
}

#totalArea {
    margin: 30px;
    border-bottom: 2px solid whitesmoke; 
}

#finalAmount {
    font-size:1.1rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid whitesmoke; 
}

#pic {
    height: 200px;
}

.animate-character
{
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

